.card.mb-4.mt-4.text-white.bg-primary
  .card-header
    %h1.text-center=title
  .card-body
    = form_with(model: professor, local: true) do |form|
      = render 'layouts/model_errors', model: professor
      .form-group
        = form.text_field :name, placeholder: :name, class: "form-control"
      .form-group
        = form.text_field :department, placeholder: :department, class: "form-control"
      .form-group
        = form.email_field :email, placeholder: :email, class: "form-control"
      .form-group.text-center
        = form.submit "Register", class: "btn btn-success"
        = link_to "Cancel", root_path, class: "btn btn-danger"
