%h1.text-center.mt-4.mb-4 Our excellent professors

.row
  .col-12.col-md-5.offset-md-1
    %h2 Professors list
    - if @professors.blank?
      .alert.alert-success We are waiting for some great professors to join!
    - else
      .list-group
        = render @professors
  .col-12.col-md-5
    %h2 Do you want to join us?
    = render 'form', title: 'Register as professor', professor: @professor
